In [1]:
import json
import pymysql
import sys

connection = pymysql.connect(host = 'localhost',
                             user = 'root',
                             passwd = '',
                             charset='utf8', use_unicode=True);

# Query to create a database
db_name = 'Yelp'
create_db_query = "CREATE DATABASE IF NOT EXISTS {0} DEFAULT CHARACTER SET 'utf8'".format(db_name)

# Create a database
cursor = connection.cursor()
cursor.execute(create_db_query)
cursor.close()

/Users/JasonChang/anaconda/lib/python3.6/site-packages/pymysql/cursors.py:166: Warning: (1007, "Can't create database 'Yelp'; database exists")
  result = self._query(query)

In [2]:
cursor = connection.cursor()
db_name = 'Yelp'
table_name = 'Business'
drop_table_query = '''USE Yelp;
                      DROP Table Business;'''.format(db_name, table_name)
cursor.execute(drop_table_query)
cursor.close()

In [3]:
cursor = connection.cursor()
db_name = 'Yelp'
table_name = 'Biz_Categories'
drop_table_query = '''USE Yelp;
                      DROP Table Biz_Categories;'''.format(db_name, table_name)
cursor.execute(drop_table_query)
cursor.close()

In [4]:
cursor = connection.cursor()
db_name = 'Yelp'
table_name = 'Business'
# Create a table
# The {0} and {1} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {0}.{1} 
                                (business_id varchar(250), 
                                name varchar(250), 
                                neighborhood varchar(100),
                                address varchar(250),
                                city varchar(100),
                                state varchar(100),
                                postal_code varchar(100),
                                latitude float,
                                longitude float,
                                stars real,
                                review_count int,
                                type varchar(100),
                                PRIMARY KEY(business_id)
                                )'''.format(db_name, table_name)
cursor.execute(create_table_query)
cursor.close()

In [5]:
cursor = connection.cursor()
db_name = 'Yelp'
table_name = 'Biz_Categories'
# Create a table
# The {0} and {1} are placeholders for the parameters in the format(....) statement
create_table_query = '''CREATE TABLE IF NOT EXISTS {0}.{1} 
                                (business_id varchar(250), 
                                categories varchar(250),
                                PRIMARY KEY(business_id, categories)
                                )'''.format(db_name, table_name)
cursor.execute(create_table_query)
cursor.close()

In [6]:
import json

yelp_biz_data = []
with open("yelp_academic_dataset_business.json") as yelp_business:
    for item in yelp_business:
        tmp = json.loads(item)
        yelp_biz_data.append(tmp)

In [7]:
query_template = '''
INSERT INTO 
Yelp.Biz_Categories(business_id, categories) 
        VALUES (%s, %s)'''

cursor = connection.cursor()

i = 0;
for entry in yelp_biz_data:
    if yelp_biz_data[i]["categories"] is not None:
        for cat in yelp_biz_data[i]["categories"]:
            business_id = entry["business_id"]
            categories = cat
            query_parameters = (business_id, categories)
            cursor.execute(query_template, query_parameters)
        i+=1;
    else:
        i+=1;
'''
Commit changes to stable storage
'''
connection.commit()
cursor.close()

In [8]:
query_template = '''
INSERT INTO 
Yelp.Business(business_id, name, neighborhood, address, city, state, postal_code, latitude, longitude, 
                stars, review_count) 
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''

cursor = connection.cursor()

for entry in yelp_biz_data:
    business_id = entry["business_id"]
    name = entry["name"]
    neighborhood = entry["neighborhood"]
    address = entry["address"]
    city = entry["city"]
    state = entry["state"]
    postal_code = entry["postal_code"]
    latitude = entry["latitude"]
    longitude = entry["longitude"]
    stars = entry["stars"]
    review_count = entry["review_count"]
    query_parameters = (business_id, name, neighborhood, address, city, state, postal_code, latitude, longitude, stars, review_count)
    cursor.execute(query_template, query_parameters)

'''
Commit changes to stable storage
'''
connection.commit()
cursor.close()